In [13]:
from IPython.display import display
from src.process_api import process
import os

source = os.path.abspath(os.path.join(os.getcwd(), "../data", "pokemon.csv"))

df = await process.call("data", "load", {
    "name": "pokemon",
    "source": source
})

result = await process.call("data", "call", {
    "name": "pokemon",
    "method": "head"
})

result.query('`Name` == "Bulbasaur"')

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False

In [15]:
from IPython.display import display
from src.process_api import process
import os

source = os.path.abspath(os.path.join(os.getcwd(), "../data", "pokemon.csv"))

df = await process.call("data", "load", {
    "name": "pokemon",
    "source": source
})

result = await process.call("data", "get_perspective", {
    "name": "pokemon",
    "perspective": {
        "filter": "`Type 1` eq 'Grass' or `Type 2` eq 'Grass'"
    }
})

display(result)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
48,43,Oddish,Grass,Poison,320,45,50,55,75,65,30,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
783,710,PumpkabooSuper Size,Ghost,Grass,335,59,66,70,44,55,41,6,False
784,711,GourgeistAverage Size,Ghost,Grass,494,65,90,122,58,75,84,6,False
785,711,GourgeistSmall Size,Ghost,Grass,494,55,85,122,58,75,99,6,False
786,711,GourgeistLarge Size,Ghost,Grass,494,75,95,122,58,75,69,6,False
787,711,GourgeistSuper Size,Ghost,Grass,494,85,100,122,58,75,54,6,False