In [13]:
from IPython.display import display
from src.process_api import process
import os

source = os.path.abspath(os.path.join(os.getcwd(), "../data", "pokemon.csv"))

df = await process.call("data", "load", {
    "name": "pokemon",
    "source": source
})

result = await process.call("data", "call", {
    "name": "pokemon",
    "method": "head"
})

group = result.groupby(["Type 1"]).agg({
    "Total": "max",
    "Attack": "max",
    "Defense": "max",
    "Sp. Atk": "max",
    "Sp. Def": "max",
    "Speed": "max"
})
display(group)

        Total  Attack  Defense  Sp. Atk  Sp. Def  Speed
Type 1
Fire      309      52       43       60       50     65
Grass     625     100      123      122      120     80

In [1]:
from IPython.display import display
from src.process_api import process
import os

source = os.path.abspath(os.path.join(os.getcwd(), "../data", "pokemon.csv"))

df = await process.call("data", "load", {
    "name": "pokemon",
    "source": source
})

result = await process.call("data", "get_perspective", {
    "name": "pokemon",
    "perspective": {
        "filter": "`Type 1` eq 'Grass' or `Type 2` eq 'Grass'",
        "sort": {
            "Total": "dec",
            "Name": "asc"
        }
    }
})

display(result)

`Type 1` == 'Grass' or `Type 2` == 'Grass'

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
275,254,SceptileMega Sceptile,Grass,Dragon,630,70,110,75,145,85,145,3,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
271,251,Celebi,Psychic,Grass,600,100,100,100,100,100,100,2,False
550,492,ShayminLand Forme,Grass,NaN,600,100,100,100,100,100,100,4,True
551,492,ShayminSky Forme,Grass,Flying,600,100,103,75,120,75,127,4,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
467,420,Cherubi,Grass,NaN,275,45,35,45,62,53,35,4,False
202,187,Hoppip,Grass,Flying,250,35,35,40,35,55,50,2,False
293,270,Lotad,Water,Grass,220,40,30,30,40,50,30,3,False
296,273,Seedot,Grass,NaN,220,40,40,50,30,30,30,3,False
206,191,Sunkern,Grass,NaN,180,30,30,30,30,30,30,2,False